In [67]:
import sklearn as skl
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier as dtc
from sklearn.model_selection import train_test_split as tts

In [68]:
df = pd.read_csv('train.csv')

In [69]:
df=pd.get_dummies(df,dtype=int)

In [70]:
df.head()

,id,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,loan_status,person_home_ownership_MORTGAGE,...,loan_intent_VENTURE,loan_grade_A,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_N,cb_person_default_on_file_Y
0,0,37,35000,0.0,6000,11.49,0.17,14,0,0,...,0,0,1,0,0,0,0,0,1,0
1,1,22,56000,6.0,4000,13.35,0.07,2,0,0,...,0,0,0,1,0,0,0,0,1,0
2,2,29,28800,8.0,6000,8.90,0.21,10,0,0,...,0,1,0,0,0,0,0,0,1,0
3,3,30,70000,14.0,12000,11.11,0.17,5,0,0,...,1,0,1,0,0,0,0,0,1,0
4,4,22,60000,2.0,6000,6.92,0.10,3,0,0,...,0,1,0,0,0,0,0,0,1,0

In [71]:
df.columns

Index(['id', 'person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'loan_status', 'person_home_ownership_MORTGAGE',
       'person_home_ownership_OTHER', 'person_home_ownership_OWN',
       'person_home_ownership_RENT', 'loan_intent_DEBTCONSOLIDATION',
       'loan_intent_EDUCATION', 'loan_intent_HOMEIMPROVEMENT',
       'loan_intent_MEDICAL', 'loan_intent_PERSONAL', 'loan_intent_VENTURE',
       'loan_grade_A', 'loan_grade_B', 'loan_grade_C', 'loan_grade_D',
       'loan_grade_E', 'loan_grade_F', 'loan_grade_G',
       'cb_person_default_on_file_N', 'cb_person_default_on_file_Y'],
      dtype='object')

In [73]:
df_new = df.drop(columns=['id'])

In [74]:
df_new.columns

Index(['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'loan_status', 'person_home_ownership_MORTGAGE',
       'person_home_ownership_OTHER', 'person_home_ownership_OWN',
       'person_home_ownership_RENT', 'loan_intent_DEBTCONSOLIDATION',
       'loan_intent_EDUCATION', 'loan_intent_HOMEIMPROVEMENT',
       'loan_intent_MEDICAL', 'loan_intent_PERSONAL', 'loan_intent_VENTURE',
       'loan_grade_A', 'loan_grade_B', 'loan_grade_C', 'loan_grade_D',
       'loan_grade_E', 'loan_grade_F', 'loan_grade_G',
       'cb_person_default_on_file_N', 'cb_person_default_on_file_Y'],
      dtype='object')

In [76]:
y=df_new['loan_status']
x=df_new.drop(columns='loan_status')

In [78]:
x_train , x_test , y_train , y_test = tts(x,y)

In [79]:
print(f'X Train shape : {x_train.shape}\nY Train shape : {y_train.shape}\nX Test shape : {x_test.shape}\nY Test shape : {y_test.shape}')

X Train shape : (43983, 26)
Y Train shape : (43983,)
X Test shape : (14662, 26)
Y Test shape : (14662,)

In [86]:
model=dtc()

In [89]:
model.fit(x_train,y_train)
predictions = model.predict(x_test)
accuracy = accuracy_score(y_test,predictions)
print(f'{model} predicted with an accuracy : {accuracy}')

DecisionTreeClassifier() predicted with an accuracy : 0.9132451234483699